.container {
  width: 100%;
  height: calc(100vh - 72px);
  min-height: 696px;
  padding: 192px 64px 64px;

  background-image: url("/assets/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  overflow: hidden;
}

.hero {
  max-width: 640px;
  color: #ffffff;
}

.heroTitle {
  margin: 0 0 16px;

  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

.heroDescription {
  margin: 0 0 40px;

  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.heroButton {
  width: 173px;
  height: 56px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 200px;

  color: #ffffff;
  background-color: #829b91;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  transition: background-color 200ms ease;
}

.heroButton:hover,
.heroButton:focus-visible {
  background-color: #6d7b75;
}