.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 64px;
  background-color: var(--very-light-gray);
  border-bottom: 1px solid var(--extra-light-grey);
  position: relative;
}

.logo img {
  width: 136px;
  height: 16px;
}

.navlink {
  display: flex;
  gap: 40px;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.link {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--dark-blue);
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--red);
}

.link::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.active {
  color: var(--red);
}