.bookingForm {
  width: 641px;
  padding: 44px;
  background-color: var(--white);
  border-radius: 10px;
  border: 1px solid #dadde1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #101828;
}

.subtitle {
  font-size: 14px;
  line-height: 20px;
  color: #6c717b;
  margin-top: -16px;
}

.bookingForm input,
.bookingForm textarea {
  width: 527px;
  background-color: #f7f7f7;
  border: none;
  border-radius: 10px;
  padding: 18px;
  font-size: 16px;
  line-height: 24px;
  color: #101828;
  box-sizing: border-box;
}

.bookingForm input::placeholder,
.bookingForm textarea::placeholder {
  color: #6c717b;
}

.bookingForm textarea {
  height: 118px;
  resize: none;
}

.bookingForm button {
  width: 166px;
  height: 56px;
  align-self: center;
  background-color: #e44848;
  color: #ffffff;
  border: none;
  border-radius: 200px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.bookingForm button:hover {
  background-color: var(--dark-red);
}
