.sidebar {
  background-color: var(--white);
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
}

.location {
  font-size: 16px;
  font-weight: 400;
  color: var(--grey-blue);
  line-height: 1.5;
}

.heading {
  font-size: 20px;
  font-weight: 600;
  color: var(--dark-blue);
  margin-bottom: 24px;
  line-height: 1.5;
  margin-top: 32px;
}

.filterTitle {
  font-size: 16px;
  font-weight: 500;
  color: var(--grey-blue);
  line-height: 1.5;
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #f7f7f7;
  border-radius: 12px;
  padding: 18px 20px;
  width: 360px;
  height: 56px;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.svgLine {
  width: 100%;
  height: 1px;
  background-color: var(--light-gray);
}

.icon {
  width: 20px;
  height: 20px;
  flex: 0 0 20px;
  color: #101828;
}

.input {
  background: transparent;
  border: none;
  width: 100%;
  color: #101828;
  font-size: 16px;
  line-height: 24px;
  outline: none;
}

.input::placeholder {
  color: #101828;
  opacity: 0.6;
}

.equipmentOptions,
.vehicleTypes {
  display: grid;
  grid-template-columns: repeat(3, 112px);
  gap: 16px;
  margin-top: 24px;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 112px;
  height: 96px;
  padding: 12px;
  border: 1px solid #dadde1;
  border-radius: 12px;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.3s ease;
  text-align: center;
  box-sizing: border-box;
}

.labelText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.selected {
  border-color: var(--red);
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

.searchButton {
  padding: 16px 60px;
  background-color: var(--red);
  color: var(--white);
  border: none;
  border-radius: 200px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  align-self: flex-start;
  letter-spacing: -0.08px;
  line-height: 1.5;
}

.searchButton:hover {
  background-color: var(--dark-red);
}
