.camperCard {
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  border-radius: 16px;
  padding: 24px;
  gap: 24px;
  transition: box-shadow 0.3s ease;
}

.favoriteIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1;
  background: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.heart,
.filledHeart {
  font-size: 24px;
  color: var(--dark-blue);
  transition: color 0.3s ease;
}

.filledHeart {
  color: var(--red);
}

.favoriteIcon:hover .heart,
.favoriteIcon:hover .filledHeart {
  color: var(--dark-red);
}

.price {
  position: absolute;
  top: 20px;
  right: 60px;
  font-size: 24px;
  font-weight: 600;
  color: var(--dark-blue);
  line-height: 1.33333;
}

.image {
  width: 292px;
  height: 320px;
  object-fit: cover;
  border-radius: 12px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.headerRow {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
}

.camperName {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33333;
  color: var(--dark-blue);
  margin-top: auto;
  margin-bottom: 8px;
}

.locationAndRating {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.location {
  font-size: 16px;
  color: var(--dark-blue);
  line-height: 1.5;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
  list-style: none;
  padding: 0;
  margin-left: 0;
}

.feature {
  background-color: var(--extra-light-gray);
  border-radius: 12px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.featureName {
  font-size: 16px;
  color: var(--dark-blue);
  line-height: 1.5;
  font-weight: 500;
}

.starIcon {
  color: var(--yellow);
  margin-right: 5px;
}

.description {
  font-size: 16px;
  color: var(--gray-blue);
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 24px;
  margin-top: 0;
}

.button {
  align-self: flex-start;
  padding: 16px 60px;
  background-color: var(--red);
  color: var(--white);
  border: none;
  border-radius: 200px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin-top: 8px;
}

.button:hover {
  background-color: var(--dark-red);
}

.rating {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  line-height: 1.5;
}

.ratingValue {
  color: var(--dark-blue);
  font-weight: 500;
}

.reviewCount {
  color: var(--gray-blue);
}
