@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

:root {
  --dark-blue: #101828;
  --gray-blue: #475467;
  --blue-gray: #6c717b;
  --red: #e44848;
  --dark-red: #d84343;
  --yellow: #ffc531;
  --light-gray: #dadde1;
  --extra-light-gray: #f2f4f7;
  --very-light-gray: #f7f7f7;
  --white: #ffffff;
  --font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--white);
  color: var(--dark-blue);
}
